<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Web Crawlers</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
	<%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/css?family=Andika" rel="stylesheet">
	<style type="text/css">
		body{
			padding:10px;
			font-size: 13px;
			font-family: 'Andika', sans-serif;
		}
	</style>
</head>
<body>
	<div class="containers">
		<%= yield %>
	</div>
</body>
</html>
